<meta charset="UTF-8">

*{
    margin: 0;
    padding: 0; 
}

body{
    width: 100%;
    position: relative;
    _background: #fffdf4;
}

section {width:100%; height: 100vh;}

.logo a img{
    position: absolute;
    left: 15%;
    top: -9px;
    z-index: 999;
    width: 181px;
    height: 96px;
    position: fixed;
}
.div{
    position: absolute;
    right: 18%;
    top: 15px;
    float: left; 
    z-index: 999;
    position: fixed;
    font-size: 13px;
        
}
.div{
    float: left;
}
header{
    width: 100%;
    _background: linear-gradient(rgba(255,255,255,0.3)70px, rgba(255,255,255,0.4)70px, rgba(255,255,255,0.4));
    height: 70px;
    position: absolute;
    z-index: 10;
}

header:hover{
   background: linear-gradient(rgba(255,255,255,0.7)80px, rgba(255,255,255,0.4)80px, rgba(255,255,255,0.4));
   
}
header li:hover{
     color: dimgray;
}
header nav ul li a:hover{
    color: dimgray;
}
header nav ul li .a{
    padding-left: 10px;
}
nav{
    width: 100%;
    margin: 0 auto;
    padding-left: 23%;
    
}
nav > ul {width: 70%;} 
nav > ul > li {width:25%; text-align: center;}
nav > ul > li{
    float: left;
    _line-height: 90px;
    font-size: 23px;
    position: relative;
    top: 30px;
}

nav > ul > li > ul{
    line-height: 45px;
    width: 100%;
    display: none;
   position: relative;
    top: 13px;
}

nav > ul > li > ul >li {
    position: relative;
    width:100%;
}
nav ul li ul li a{
    font-size: 18px;
}


header.sticky{
    position: fixed;
    height: 80px;
    background: linear-gradient(rgba(255,255,255,0.9)80px, rgba(255,255,255,0.3)80px, rgba(255,255,255,0.3));
    padding-left: 11px;
}
header.sticky nav ul li a:hover{
    color: dimgray;
}
header.sticky nav ul li .a{
    padding-left: 11px;
   
    
    
}
/*햄버거*/

#btn{
    display: none;
    
}
#topNav {
    display: none;
}





/*슬라이드*/
.slider{
    height: 100vh;
    width:100%;
    _position: absolute;;
    z-index: 1;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }


.slider .bg1{
        background: url(../img/main_1.png) no-repeat center / cover;    
    }
.slider .bg2{
        background: url(../img/main_2.png) no-repeat center / cover;
    }
.slider .bg3{
        background: url(../img/main_3.png) no-repeat center / cover;
    }
.slider .bg4{
        background: url(../img/main_4.png) no-repeat center / cover;
        color: #000;
    }
    
.slider .swiper-slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    color: #fff;
    text-align: center;
    
}
.slider .swiper-slide span{
    font-size: 100px;
    font-weight: 600px;
    margin-top: -100px;
    opacity: 0;
}
.slider .swiper-slide p{
    font-size: 30px;
    opacity: 0;
    padding-bottom: 30px;
    
}
.slider .swiper-slide div{
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.em;
  color: rgba(225,225,225,1)
  border-radius: 0;
  padding: 10px 70px 10px;
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  _margin: 0.625rem;
  border: none;
  border: 3px solid rgba(225,225,225,1);
    
}
.slider .swiper-slide div:hover{
  color: #fff;
  border: 1px solid rgba(223,190,106,0);
  color: $white;
  background-position: 99% 50%;
  border: 3px solid rgba(225,225,225,1);
}

    
.slider .swiper-slide.swiper-slide-active span{
    animation: text 1s .2s both;
}
.slider .swiper-slide.swiper-slide-active p{
    animation: text 1s .5s both;
}
.slider .swiper-slide.swiper-slide-active div{
    animation: text 1s .8s both;
}
@keyframes text{
    0% {opacity: 0; transform: translateY(30px);}
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
    
.swiper-button-next{
    color: #fff;
}
.swiper-button-prev{
    color: #fff;
}
.swiper-pagination-bullet swiper-pagination-bullet-active{
    color: #fff;
}
.page_2{
    position: relative;
    height: 100vh;
    width: 100%;
    _margin-top: 1080px;
    _background: url(../img/page_2_img.jpg)no-repeat;
    text-align: center;
}
.page_2 .page_2_img {
    width: 100%;
}
.page_2 .page_2_img img{
    width: 100%;
}
.border_box{
    _border: 3px solid red;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    _width: 800px;
    _height: 400px;
    
}
.page_2 .box{
    _border: 3px solid #000000;
    width: 910px;
    padding: 70px;
    height: 550px;
    position: absolute;
    top: 280px;
    left: 27%;
    background-color: #36383a;
    _background-color: #fafbfa;
    opacity: 0.7;
    color: #fff;
    text-align: center;
    _line-height: 1.5;
    _z-index: 999;
    
}
.page_2 .page_2_img img{
    width: 100%;
    height: 970px;
}


.page_2 .box h2{
    font-size: 60px;
    padding-bottom: 8px;
}
.page_2 .box h4{
    line-height: 1.9;
}

.page_2 .box h5{
    line-height: 1.8;
}
    

/*객실슬라이드*/

.rooms {
    width:100%;
    position: relative;
    _position: absolute;
    _height: 1080px;
    _margin-top: 2160px;
    
}
.rooms .slideArea{
    position: relative;
    top: 100px;
}
h2.jost {text-align: right; font-size: 60px; font-weight: normal; padding: 40px; letter-spacing: px; position: relative; top: 100px;}
.slideArea:after {content:''; display: block; clear:both; position: relative;}

.text {
    width: 60%; height: 55vh;float:left; background: #c2c2c2; _background: #2e3d57; position: relative;
}
.text>ul {width: 100%; height: 33vh;  position:relative;}
.text>ul>li { width: 75%; height: 33vh;  position:absolute; left:15%; text-align: left;}
.text>ul>li:nth-child(1) {top:30%;}
.text>ul>li:nth-child(2), .text>ul>li:nth-child(3),.text>ul>li:nth-child(4) {opacity: 0; top: 50%;}
.text>ul>li>h2>span {color: #b18759; font-weight: normal; font-size: 16px;}
.text>ul>li>h3.jost {font-size: 40px; font-weight: normal; color: #fff; padding-bottom: 20px;}
.text>ul>li>p>span {display:block; _color:beige;  font-size: 18px; line-height: 30px; opacity: 0.7;}
.btnL { width: 200px; height: 60px; border: 1px solid #ffffff; opacity: 0.7; position: absolute;bottom:1%;}
.btnL>span {display: block; text-align: center; line-height: 60px; color: #fff;}

.photo {
    width:55%;
    float: right;
    position:absolute;
    right:0;
    top: 20%;
    overflow: hidden;
}
.photo ul {width: 280%; position: relative;}
.photo ul:after {content:''; display: block; clear:both;}
.photo ul li {float:left; width:25%; padding: 1%;}
.photo ul li img {display: block; width:100%;}

.room-prev {position: absolute; width: 50px; height: 50px; border-radius: 100px; background:#242424; opacity: 0.5; top: 40%; transform: translateY(-45%); left: 20px;
    background-image:url("../img/btn_prev01.png"); background-repeat: no-repeat; background-position: center center;
}
.room-next {position: absolute; width: 50px; height: 50px; border-radius: 100px; background:#242424; opacity: 0.5; top: 40%; transform: translateY(-45%); right: 20px; 
    background-image:url("../img/btn_next01.png"); background-repeat: no-repeat; background-position: center center;
}







h2.jost1 {text-align: right; font-size: 60px; font-weight: normal; padding: 30px; letter-spacing: px; position: relative; top: 100px;}
.slideArea:after {content:''; display: block; clear:both; position: relative;}


.swiper-container_1{
    position: relative;
    overflow: hidden;
    top: 150px;
    
}
.swiper-container_1 .swiper-slide {
      max-width: 1200px;
      _width: 50%;    
}
.swiper-container_1 .swiper-slide-shadow-left{
    width: 93.4%;
} 
.event {position: relative;}   



/*마지막섹션*/

.lastimg{
    width: 100%;
    background: url('../img/sub1_1%20(2).jpg');
    height: 600px;
    background-attachment: fixed;
    position: relative;
    top: 200px;

}

.txtx{
    width: 100%;
    background-color: aliceblue;
    height: 200px;
    position: relative;
    top: -190px;
    left: 0%;
    text-align: center;
    opacity: 0.7;
    padding: 25px;
    padding-left: 9px;
}
.txtx h5{
    font-size: 20px;
    padding-bottom: 
}

.txtx h6{
    font-size: 18px;
    padding-bottom:9px;
    font-weight: 100;
    
}


    
/*풋터*/
.footer{
/*
    position: absolute;
    bottom:0;
*/
    _margin-top: 4320px;
    width: 100%;
    height: 300px;
    padding: 30px;
    text-align: center;
    background: #101010;
    color: #4c4c4c;
    
}
    
.footer .text_1{
    line-height: 3;
}




@media(max-width: 900px){
    header{
        display: none;
    }

    section{
        position: relative;
    }
    
    .logo a img{
    position: absolute;
    left: 15px;
    top: 0px;
    z-index: 999;
    width: 181px;
    height: 96px;
    position: fixed;
}
    .div{
        display: none;
    }
    

 #topNav{   display: block;
            width:100%;
            position: fixed;
            right: -100%;
            height: 100%;
            _background: white;
             z-index:500;
             opacity: 1;
             margin-top: -3px;
            
        }
        #btn{
            position: absolute;
            right: 50px;
            top: 17px;
            cursor:pointer;
            display: block;
            z-index: 999;
        }
       
        #topNav>ul{
            height: 100%;
            _background: lightgreen;
            _background: #bfefbf;
            _background: #dfd89c;
            _background: #e6e3c9;
            background-color: rgba( 11, 40, 65, 1);
            
            
        
        }
        #topNav>ul>li{
            width: 100%;
            font-size: 50px;
            line-height: 4.2;
            
        }
        #topNav>ul>li>a{
            display: block;
            width: 100%;
            text-align: center;
            _color: #fff;
            
        }


      #topNav ul li:hover{
            background-color: #fff;
            _background-color: rgba( 42, 68, 38, 1);
        }
        #topNav ul li:hover .sub{
            display: block;
        }    
        #topNav .sub{ 
            width: 100%;
            display: none;
            text-align: center;
    
        }
        #topNav li .sub li{
        width: 100%;
        _background: #fff;
        background-color: gray;
        font-family: none;
        font-size: 19px;
}
        #topNav li .sub li a{
        color: #fff;
          
        }


        
        
        #btn{
            cursor: pointer;
        }
        .bar1, .bar2, .bar3{
            width: 50px;
            height: 2px;
            background-color: #333;
            margin: 13px; 0;
            transition: 0.4s;
            _margin-top: 1px;
        }
        .change .bar1{
            transform: rotate(-46deg)
            translate(-11px, 10px);
        }
        .change .bar2{
            opacity: 0;
        }
        .change .bar3{
            transform: rotate(45deg)
            translate(-10px, -10px);
        }
        
/*슬라이드*/
    

    .slider .swiper-slide span{
        font-size: 50px;
    }
    .slider .swiper-slide p{
        font-size: 15px;
    }
/*박스*/
.page_2 .box {
    _border: 3px solid #000000;
    width: 350px;
    height: 800px;
    position: absolute;
    top: 100px;
    left:70px;
    background-color: #36383a;
    opacity: 0.7;
    color: #fff;
    text-align: center;
    font-size: 18px;
    }
    
    .page_2 .box .border_box h2{
        font-size: 30px;
    }

    h2.jost {
        font-size: 30px;
    }
    
    .rooms .slideArea{
        position: relative;
        top: 150px;
    }
    .room-prev{
        width: 20px;
        height: 20px;
    }    
    .room-next{
        width: 20px;
        height: 20px;
    }
    
    .btnL{
        display: none;
    }
    .photo {
        height: 300px;
        top:5px;
    }
     .photo ul img{
        height: 250px;
    }
    .event h2.jost1{
        font-size: 30px;
    }
    
    
    
}
    
    
    
